html, body, #app {
  height: 100%;
}

.has-bg-img { 
  background: url('images/warframe logo bg.png'); 
  background-size: cover;
}

.has-signup-bg{ 
  background: url('images/signup wallpaper 3.jpg');
}

.has-login-bg{ 
  background: url('images/login wallpaper.jpg');
}

.has-profile-bg{ 
  background: url('images/profile wallpaper.jpg');
}

.is-section-articles{
  margin-top:2%;
}

.is-centered-left{
  padding-top:10%;
}

.panel-is-transparent{
  background-color: transparent;
}

.is-header-dark{
  background-color:#3D3D3D;
  color: white;
}

.is-header-light{
  background-color: #F5F5F5;
  color:  #3D3D3D;
}

.is-content-dark{
  background-color: #D6D6D6;
}

.is-card-content-first{
  align-items: stretch;
  display: flex;
  padding: 0.75rem;
}

.is-card-content-next{
  border-top: 1px solid #dbdbdb;
  align-items: stretch;
  display: flex;
  padding: 0.75rem;
}

.is-size-8{
  font-size: 14px;
}

.is-header-title-dark{
  background-color:#3D3D3D;
  color: white;
  letter-spacing: 1px;
  border-radius: 4px 4px 0 0;
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

#app {
min-height: 100%;
  //display: flex;
  //flex-direction: column;
}

.main-content {
  //flex: 1;
}

.top-adjust{
  padding-top: 5%;
}

.panel-title{
  font-weight: 460;
  letter-spacing: 1px;
}

.panel-desc1{
  padding-left: 35%;
}

.panel-desc2{
  padding-left: 41%;
}

.panel-desc3{
  padding-left: 36%;
}

.panel-desc4{
  padding-left: 37%;
}

.panel-block{
  border: none;
}

.is-sticky{
  position: sticky; 
  left: 0;
}

.footer {
  margin-top: -12px;
}

.card-icon{
  padding-right: 1em;
}

.card-header-icon{
  color: white;
  .card-header-icon:hover{
    color: white;
  }
}

.section.is-prev{
  margin-top: 10%;
}

.section.is-next{
  margin-top: -20%;
}

.content-align{
  padding-left: 2%;
  padding-top: 4%;
  padding-bottom: 2%;
}

.content-align-center{
  padding-top:5%;
}

.image.is-180x180 {
  height: 180px;
  width: 180px;
  padding-top: 10%;
  margin-left: 20%;
}

.is-flex{
  display:flex
}

.columns{
  display: flex;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-around;
}

.column{
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.panel.panel-is-light{
  background-color: white;
}


.column-dark{
  background-color: #EBEBEB;
}

.column-light{
  background-color: #F2F2F2;
}

.icon-background{
  color: #D6D6D6;
}

.redirect-link{
  color: #3D3D3D;
}

.adjust-right{
  margin-top: -6%;
  padding-left: 5%;
}

.adjust-left{
  margin-top: -6%;
  padding-left: 5%;
}

label.label{
  padding-top: 3px;
}

label.checkbox{
  padding-top: 20px;
  font-size: 14px;
}

label.cb-next{
  padding-top: 5px;
  font-size: 14px;
  padding-bottom: 20px;
}

a.signup-member{
  font-size: 14px;
  color: #222;
  margin-top: 3.7%;
  float:right;
}

a.forgot-password{
  font-size: 14px;
  color: #F03C3C;
  margin-top: 20px;
  float:right;
}

.fixed-bottom{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 70px;
  margin-bottom: 0px;
}

.scroll-hidden{
  overflow-x: hidden;
}

i.fas {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;

}

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}